html,
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    min-height: 180px;
    width: 370px;
    text-align: center;
    /* padding-left: 5px;
    padding-right: 5px; */
    padding-bottom: 5px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
}

p {
    font-size: 16px;
    font-weight: 200;
    margin: 0;
}
.guide {
    font-size: 13px;
    font-weight: 200;
    margin: 0;
}
.guide a:link {
    font-size: 13px;
    font-weight: 400;

}

a:link,
a:visited {
    color: #000000;
    outline: 0;
    text-decoration: none;
    font-size: 10px;
}

.modal-header {
    /* border-bottom: 0.5px solid #dadada; */
    padding: 10px 5px;
    width: 70%;
    display: inline-block;
}

.modal-content {
    padding: 20px 22px;
}

.error-msg {
    position: absolute;
    z-index: 5;
    top: 82px;
    color: red;
    left: 32%;
    visibility: hidden; 
    /*hidden*/
}

.modal-footer {
    padding: 5px 22px;
}

.sudoku {
    display: inline-block;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

tr,
td {
    height: 30px;
    width: 30px;
    padding: 0px;
}

td:first-child {
    border-left: solid;
}

td:last-child {
    border-right: solid;
}

td:nth-child(3n) {
    border-right: solid;
}

tr:first-child {
    border-top: solid;
}

tr:last-child {
    border-bottom: solid;
}

tr:nth-child(3n) {
    border-bottom: solid;
}

input {
    -webkit-appearance: none;
    outline: none;
    border: solid 0 #fff;
    text-align: center;
    margin: 0;
    width: 25pt;
}
.number-inputter {
    visibility: hidden;
    position: absolute;
    z-index: 10;
    background-color: lightgray;
}
.number-inputter td:hover {
    background-color: salmon;
}